{% extends 'layout/base.html' %}

{% block title %}Đăng nhập{% endblock %}

{% block content %}
<h1 class="text-center text-info">ĐĂNG NHẬP GIÁO VIÊN / QUẢN TRỊ VIÊN</h1>

<form method="post" action="/login">
    <div class="form-floating mb-3 mt-3" style="margin-left: 200px; margin-right: 200px">
        <input type="text" class="form-control" id="uname" placeholder="Enter username"
               name="username" required>
        <label for="uname">Tài khoản</label>
    </div>

    <div class="form-floating mt-3 mb-3" style="margin-left: 200px; margin-right: 200px">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password"
               name="password" required>
        <label for="pwd">Mật khẩu</label>
    </div>
    <div class="form-floating mt-3 mb-3" style="margin-left: 200px; margin-right: 200px">
        <button type="submit" name="submit" class="btn btn-danger">Đăng nhập</button>
    </div>
    {% if err_msg %}
    <div class="text text-danger text-center">{{ err_msg }} Please type again</div>
    {% endif %}
</form>

{% endblock %}