<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #008b8b">
  <div class="container-fluid">
    <a class="mt-2 navbar-brand text text-white fw-bold" href="{{ url_for('index') }}"><h3>QUẢN LÝ HỌC SINH</h3></a>
      <form class="d-flex">
        {% if current_user.is_authenticated %}
        <a class="text text-info text-white fw-bold" href="{{ url_for('process_logout_user') }}" style="text-decoration: none">
          <i class="fa fa-power-off"></i> Đăng xuất</a>
        {% else %}
        <a class="text text-info text-white fw-bold" href="{{ url_for('login_user_process') }}" style="text-decoration: none">Đăng nhập</a>
        {% endif %}
      </form>
    </div>
</nav>